@model Qlyniq.Models.Examinations

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Examinations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartingTime" class="control-label"></label>
                <input asp-for="StartingTime" class="form-control" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEmergency" class="control-label"></label>
                <input asp-for="IsEmergency" class="form-control" />
                <span asp-validation-for="IsEmergency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileId" class="control-label"></label>
                <select asp-for="FileId" class ="form-control" asp-items="ViewBag.FileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisId" class="control-label"></label>
                <select asp-for="DiagnosisId" class ="form-control" asp-items="ViewBag.DiagnosisId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LabReportId" class="control-label"></label>
                <select asp-for="LabReportId" class ="form-control" asp-items="ViewBag.LabReportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Therapy" class="control-label"></label>
                <input asp-for="Therapy" class="form-control" />
                <span asp-validation-for="Therapy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
